name: Create Flutter Project and Upload Artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Create Flutter project
        run: |
          flutter create --org com.sleepy anix

      - name: Zip Flutter project
        run: |
          zip -r anix.zip anix

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: anix-flutter-project
          path: anix.zip
